/.phpunit.cache
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
/psalm.xml
/.idea
/.fleet
/.vscode
coverage
docs
build
.phpunit.result.cache
.php-cs-fixer.cache
.phpunit.result.cache
.php_cs
.php_cs.cache